*{
    margin: 0;
    padding: 0;


}
body{
    overflow-x: hidden;
}

.white{
    color:white;
    background-color: black;
}
.glow{
    color:rgb(177, 68, 204);
}
#element{
    color:rgb(93, 167, 216);
}
.left {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bolder;
    color: white;
}

.firstsection {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.firstsection>div {
    width: 30%;
}

.leftSection {
    font-size: 2.5rem;
    margin: 80px 0;
}

.heroimg{
}
.imghero{
    margin: 40px 0;
    width: 82%;
    height: 320px;
    border: 3px solid white;
    border-radius: 235px;
    
}
.imghero:hover {
    border-color: rgb(231, 225, 236);
    transform: scale(1.02);
    transition: transform linear 500ms;
    background-image:linear-gradient(to top, rgb(0, 0, 0) 0%,rgb(54, 70, 73) 100%);
}
.leftSection .buttons{
    padding: 30px 0;
}
.buttons{
    display: flex;
}
.btnimg{
    height: 50px;
    width: 50px;
    border-radius: 200px;
    margin-right: 23px;

}
.btnimg:hover{
    transform: scale(1.2);
    transition: transform linear 500ms;

}
.btnimg1:hover{
    transform: scale(1.2);
    transition: transform linear 500ms;

}
.btnimg1{
    height: 56px;
    width: 56px;
    border-radius: 200px;
    margin-right: 9px;

}
.headings{
    padding: 80px 0px;
    color: aliceblue;
    text-align: center;
}
#services{
    background-color: black;
}
.headings:hover{
    color:rgb(113, 113, 204);
    
}
#about{
    background-color: black;
}
.logos{
    display: flex;
    margin-bottom: 15px;
    
}
.item img{
    width: 30px;
    height: 30px;
    margin-right: 23px;
}
.item:hover{
    transform: scale(1.2);
    transition: transform linear 500ms;

}
.text-body-emphasis1 {
    --bs-text-opacity: 1;
    color:rgb(223, 217, 228) ;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
    color: rgb(255, 255, 255);
  }
#experience{
    background-color: black;
}
#element1{
    color:rgb(134, 118, 148);
}
.folder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    height: 417px;
    flex-wrap: wrap;
}

.write{
    background-color: rgb(62, 67, 70);
}
.dark{
    color:white;
    background-color: rgb(62, 67, 70);
}
#Projects{
    background-color: black;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 140px;
    margin: 23px 30px;
    background-color: black;
    border: 1px solid black;
    border-radius: 20px;
}
.imgcover{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(26, 26, 44),rgb(90, 22, 22));
    
}
.imgcover img{
    width:140px;
    height: 140px;
    border:2px solid black;
}
details{
    position: relative;
    text-align: center;
    z-index: 2;
    margin: 10px 0px;
}
#contact{
    background-color: black;
    overflow-y: hidden;
}
.logos1{
    display: flex;
    justify-content: center;
}
.small{
    margin:0px 15px;
}
.small:hover{
    transform: scale(1.2);
    transition: transform linear 500ms;


}
.footer{
    background-color: rgb(24, 27, 31);
    padding: 0%;
    margin: 0%;
    overflow-y: hidden;
}
.white1{
    color: rgb(202, 190, 176);
}
.conlogo{
    width: 70px;
    height: 70px;
    border:1px solid rgb(163, 118, 118);
    border-radius: 200px;
}
.concov{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
